extends  base.pug

block content
    h1 #{par1}
    div(style='margin-left: 20px;') 
      a(href='/') #{par2}
    div(class='container')
      div(class='row')            
            div(class="col-4")
              a(href='/') Main page              
            div(class="col-4")      
              p Inserted data: #{par3} and #{par4}
            div(class="col-4")
                  
